.forListOfTables .buttonForLogout {
    margin-left: 1100px;
}

.forListOfTables h1 {
    text-align: center;
}

.forListOfTables .blockOfTables {
    background-color: #48577D;
    margin: 50px 0 0 370px;
    padding: 50px;
    width: 430px;
    height: 240px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.forListOfTables .tableBlock {
    padding: 10px;
    background-color: #1c94c4;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-bottom: 5px;
}
