.forListOfTables button {
    width: 107px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.forListOfTables .blockOfTables {
    background-color: #48577D;
    margin: 5% 0 0 30%;
    width: 40%;
    border: 1px solid #000000;
    border-radius: 10px;
    padding-bottom: 2%;
}

.forListOfTables .blockOfTables .TextListOfTables {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 0 20px 0;
    border-bottom: 1px solid deeppink;
}

.forBlockForNameOfTable .forNameOfTable   {
    padding: 0 0 20px 20px;
}

.forListOfTables .blockOfTables .forBlockForNameOfTable .checkboxForNameOfTable{
    width: 16px;
    height: 16px;
}

.forListOfTables .blockOfTables .forBlockForNameOfTable .textNameOfTable {
    width: 370px;
    height: 30px;
    margin: 0 0 0 3%;
    border-radius: 5px;
}


.forListOfTables .blockOfTables .buttons{
    margin: 0 0 0 15%;
}


.forListOfTables .forButtonCreate {
    margin: 0 0 0 30px;
}
.forListOfTables .forButtonDelete{
    margin: 0 0 0 30px;
}
/*
.forListOfTables .tableBlock {
    padding: 10px;
    background-color: #1c94c4;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-bottom: 5px;
}*/
