.loginBlock {
    background-color: #48577D;
    margin: 7% 0 0 33%;
    width: 430px;
    height: 240px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.loginBlock .divTextLoginBlock {
    padding-top: 20px;
    padding-left: 30px;
}

.loginBlock .textMemberLogin {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid deeppink;
}

.loginBlock .divTextName {
    margin-bottom: 10px;
    border-radius: 5px;

}

.loginBlock .divTextPassword {
    margin-bottom: 10px;
    border-radius: 5px;
}

.loginBlock input[type=text],
.loginBlock input[type=password] {
	border-radius: 5px;
	width: 370px;
	height: 30px;
}

.loginBlock .divRememberMe,
.loginBlock label {
	cursor: pointer;
}

.loginBlock .inputRememberMe {
    width: 16px;
    height: 16px;
}

.loginBlock .buttonBlock {
	margin-top: 5px;
	margin-bottom: 5px;
}

.loginBlock button {
    width: 184px;
    height: 30px;
    border-radius: 5px;
	cursor: pointer;
}

.loginBlock .error {
    background-color: #050505;
    color: red;
    text-align: center;
    font-weight: bold;
    margin-right: 26px;
}


