.loginBlock {
    background-color: lawngreen;
    margin-top: 50px;
    margin-left: 350px;
    width: 430px;
    height: 240px;
    border: 1px solid #000000;
    border-radius: 10px;
}
.loginBlock .divTextLoginBlock {
    padding-top: 20px;
    padding-left: 30px;
}
.loginBlock .textMemberLogin {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid deeppink;
}
.loginBlock .divTextName {
    margin-bottom: 10px;
    border-radius: 5px;

}
.loginBlock .divTextPassword {
    margin-bottom: 10px;
    border-radius: 5px;
}
.loginBlock input[type=text],
.loginBlock input[type=password] {
	border-radius: 5px;
	width: 365px;
	height: 30px;
	padding: 0 5px;
}

.loginBlock .divRememberMe,
.loginBlock label {
	cursor: pointer;
}

.loginBlock .inputRememberMe {
    width: 16px;
    height: 16px;
	}
.loginBlock .buttonBlock {
	margin-top: 15px;
	margin-bottom: 5px;
}
.loginBlock button {
    width: 184px;
    height: 30px;
    border-radius: 5px;
	cursor: pointer;
}
