.newTable button {
    width: 107px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

.newTable .blockNewTable {
    background-color: #48577D;
    margin: 5% 0 0 33%;
    width: 430px;
    height: 240px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.newTable .blockNewTable .label {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 0 20px 0;
    border-bottom: 1px solid deeppink;
}


.newTable .blockNewTable .blockForNameOfNewTable .forSignToEnterTheNameOfTheNewTable {
    text-align: center;
}

.newTable .blockNewTable .blockForNameOfNewTable .forSignToEnterTheNameOfTheNewTable.error {
    font-style: italic;
    background-color: #050505;
    color: red;
    font-weight: bold;
}

.newTable .blockNewTable .blockForNameOfNewTable .forInputNameOfNewTable     {
    width: 250px;
    height: 30px;
    margin: 20px 0 0 20%;
    border-radius: 5px;
    padding: 0 5px;
}

.newTable .blockNewTable .blockForNameOfNewTable .buttonForSave {
    margin: 30px 0 0 35%;
}


