<div class="forListOfTables">

    <button class="forButtonLogout" name="buttonLogout" ng-click="logout()">Logout</button>


    <div class="blockOfTables" name="blockOfTables">
        <div class="TextListOfTables">List of tables</div>

        <div class="forBlockForNameOfTable" name="blockForNameOfTable">
            <div ng-repeat="table in tables" class="forNameOfTable" name="nameOfTable" id="nameOfTable">
            <input type ="checkbox" class="checkboxForNameOfTable"/>
            <input type="text" value={{table.title}} class="textNameOfTable"/>
            </div>
            <div class="buttons">
                <button class="forButtonCreate" ng-click="createTheNewTable()">Create</button>
                        <button class="forButtonDelete" ng-click="deleteTheTable()">Delete</button>
            </div>
        </div>
    </div>
</div>
