<div class="loginBlock">
    <div>
        <div class="textMemberLogin">Member login</div>
    </div>
    <div class="divTextLoginBlock">
        <div class="divTextName">
            <input name="email" type="text" class="inputTextName" placeholder="Enter your email">
        </div>
        <div class="divTextPassword">
            <input name="password" type="password" class="inputTextPassword" placeholder="Enter password">
        </div>
        <div class="divRememberMe">
            <input type="checkbox" checked id="__inputRememberMe" class="inputRememberMe">
            <label for="__inputRememberMe">
                <span>Remember me</span>
            </label>
        </div>
	    <div class="buttonBlock">
            <button class="inputButtonLogin">Login</button>
            <button class="inputButtonSignUp">Sign Up</button>
	    </div>
    </div>
</div>
