<div class="loginBlock">
    <div>
        <div class="textMemberLogin">Member login</div>
    </div>
    <div class="divTextLoginBlock">
        <div class="divTextName" na="divTextName">
            <input name="email" type="text" class="inputTextName" placeholder="Field to enter your email"> <!--value="testEmail@domain.com"*/-->
        </div>
        <div class="divTextPassword">
            <input name="password" type="password" class="inputTextPassword" placeholder="Field to enter password"> <!--value="myPassword"-->
        </div>
        <div class="divRememberMe">
            <input type="checkbox" checked id="__inputRememberMe" class="inputRememberMe">
            <label for="__inputRememberMe">
                <span>Remember me</span>
            </label>
        </div>
	    <div class="buttonBlock">
            <button class="inputButtonLogin" name="buttonLogin">Login</button>
            <button class="inputButtonSignUp" name="buttonSingUp">Sign Up</button>
	    </div>
        <div class="divForError" name="divForError"></div>
    </div>
</div>
