
<div class="newTable">

    <button class="buttonForReturn" name="buttonLogout" ng-click="return()">Return</button>

    <div class="blockNewTable" name="blockNewTable">
        <div class="label">New table</div>

        <div class="blockForNameOfNewTable">
            <div class="forSignToEnterTheNameOfTheNewTable" name="signToEnterTheNameOfTheNewTable">
                Please enter the name of the new table!
            </div>
            <input class="forInputNameOfNewTable" name="inputNameOfNewTable"
                   type="text" placeholder="name of new table" value="ttt">
            <div class="buttons">
                <button class="buttonForSave" ng-click="save()" name="buttonForSave">Save</button>
            </div>
        </div>
    </div>
</div>
